<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Anda melakukan request reset password, <%= @user.email %>!</p>
    <p>
    Silahkan click link berikut untuk menuju halaman reset password<br>
    --------------------------
    </p>
    <a href="<%= ENV['URL_FE'] %>/forgot?token=<%= @token %>" >Reset Password</a>
  </body>
</html>